<!-- Resume Box / Hobbies -->
<div class="resume-box">
    <!-- <span class="icon animated" data-animation="fadeInDown"><i class="ti-music-alt text-tertiary"></i></span> -->
    <h4><strong>Hobbies</strong> &amp; Interests</h4>
    <ul class="list-inline">
        <li>
            <div class="icon-box text-center">
                <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-music-alt"></i></span>
                <span class="title">Music</span>
            </div> 
        </li> 
        <li>
            <div class="icon-box text-center">
                <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-heart"></i></span>
                <span class="title">Exercise</span>
            </div> 
        </li> 
        <li>
            <div class="icon-box text-center">
                <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-pencil"></i></span>
                <span class="title">Art</span>
            </div> 
        </li> 
    </ul>
</div><!--resume-->