<!-- Section - Contact -->
<section id="contact" class="section padding-v-60 min-fullheight">

    <!-- BG Map -->
    <div id="google-map" class="bg-image" data-latitude="34.001000" data-longitude="-118.46000" data-style="light"></div>
    <!-- 34.001373 -118.46445 -->
    <!-- Contact Box -->
    <div class="contact-box bg-secondary dark animated" data-animation="flipInY">
        <h1>Don’t hesitate to <strong>contact me</strong>!</h1>
        <!-- Contact List -->
        <ul class="list-unstyled list-unstyled-icons">
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>Venice<br />California 90291, USA</li>
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="mailto:contactme@jamesroydennis.com">James Roy Dennis</a></li>
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i><a href="tel:1-317-782-5282">+1 317 782-5282</a></li>
        </ul>
        <a href="#" class="btn btn-primary" data-target="messenger"><span>Use Contact Form</span><i class="ti-email"></i></a>
        <h5 class="margin-t-60">Check my social media!</h5>
        <ul class="list-inline">
            <li><a href="https://www.linkedin.com/in/indyjamesrdennis/" class="icon icon-circle icon-xs icon-linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://stackoverflow.com/users/1396331/jdennis?tab=profile" class="icon icon-circle icon-xs icon-stack-overflow"><i class="fa fa-stack-overflow"></i></a></li>
            <li><a href="https://www.facebook.com/james.dennis.167" class="icon icon-circle icon-xs icon-facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/jamesroydennis" class="icon icon-circle icon-xs icon-twitter"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <!-- <h5>Like me on Facebook</h5> -->
        <!-- FB Like -->
        <!-- <div class="fb-like" data-href="http://www.facebook.com/suelopl" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div> -->
    </div>

</section>
<!-- Section - Contact / End -->