<!-- Resume Box / Education and Jobs -->
<div class="resume-box">
    <span class="icon animated" data-animation="fadeInDown"><i class="ti-calendar text-tertiary"></i></span>
    <h4><strong>Education</strong> &amp; jobs</h4>
    
    <div class="timeline">
        <!-- Single event -->
        <div class="timeline-event te-primary">
            <span class="event-date">Jan 2005 - Present</span>
            <span class="event-name">Computer Science</span>
            <span class="event-description">Indiana University - Purdue University - Indianapolis</span>
        </div>
        <!-- Single event -->
        <div class="timeline-event te-primary">
            <!-- <span class="event-date">Aug 1990 - Sep 99</span> -->
            <span class="event-name">Leadership Development Course</span>
            <span class="event-description">United States Army - Germany</span>
        </div>
        <!-- Single event -->
        <div class="timeline-event te-primary">
            <!-- <span class="event-date">Jan 2004 - Dec 2006</span> -->
            <span class="event-name">Training Consultant's Course</span>
            <span class="event-description">McDonald's Corp - Chicago IL</span>
        </div>
    </div><!--timeline-->

</div><!--resume-->