<!-- Resume Box / Jobs -->
<div class="resume-box">
    <span class="icon animated" data-animation="fadeInDown"><i class="ti-briefcase text-tertiary"></i></span>
    <h4><strong>Background</strong></h4>
    
    <div class="timeline">
        <!-- Single event -->
        <div class="timeline-event te-primary">
            <span class="event-date">June 2015 - Present</span>
            <span class="event-name">Hybrid Software Engineer</span>
            <span class="event-description">Salesforce</span>
        </div>
        <!-- Single event -->
        <div class="timeline-event te-primary">
            <span class="event-date">May 2010 - Jun 2015</span>
            <span class="event-name">Biomedical Informations Systems Engineer III</span>
            <span class="event-description">Regenstrief Institute, Inc.</span>
        </div>
        <!-- Single event -->
        <div class="timeline-event te-primary">
            <span class="event-date">Jun 2009 - May 2010</span>
            <span class="event-name">.NET Programmer/Developer</span>
            <span class="event-description">Indiana Farmers Mutual Insurance Company</span>
        </div>
        <!-- Single event -->
        <div class="timeline-event te-primary">
                <span class="event-date">Jan 2007 - Jun 2009</span>
                <span class="event-name">.NET Programmer/Developer</span>
                <span class="event-description">Alverno Information Services</span>
            </div>
    </div><!--timeline-->

</div><!--resume-->