<!-- Section - Home -->
<section id="start" class="section fullheight bg-secondary dark padding-v-60">

    <!-- BG Image -->
    <div class="bg-image animated infinite zooming"><img src="../../../assets/img/photos/it-bg01.jpg" alt="..."></div>
    
    <!-- Middle -->
    <div class="container container-wide v-bottom padding-v-80">
        <img id="profile-pic" src="assets/img/photos/jamesDennis-gray.jpg" alt="James Dennis" class="img-circle margin-b-30" >
        <h1 class="text-lg margin-b-0">Hi! I’m <strong>James Roy Dennis</strong></h1>
        <h5 class="text-tertiary margin-b-40">experienced Full Stack .NET Software Engineer / Cloud Developer</h5>
        <span data-target="local-scroll"><a href="#resume" class="btn btn-lg btn-primary"><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
        <a href="https://drive.google.com/file/d/1pMbquJz4Q31Ac-zfC4x1-xvZw7DQ-pEJ/view?usp=sharing" target="_blank" class="btn btn-link"><span>Download my resume</span><i class="ti-file"></i></a>
    </div>
    
</section>
<!-- Section - Home / End -->