<!--The content below is only a placeholder and can be replaced.-->


<!-- Loader -->
<div id="page-loader" class="bg-white"></div>
<!-- Loader / End -->
<!-- Content -->
<div id="content" class="bg-white">

    <app-home></app-home>

    <app-resume></app-resume>

    <app-testimonials></app-testimonials>
    
    <app-contact></app-contact>

</div>
<!-- Content / End -->

<app-mobile></app-mobile>

<!-- Ajax Wrapper & Loader -->
<div id="ajax-modal"></div>
<div id="ajax-loader"><i class="fa fa-spinner fa-spin"></i></div>

<!-- FB Like -->
<div id="fb-root"></div>

<router-outlet></router-outlet>



