<!-- Resume Box / Specilities -->
<div class="resume-box">
    <span class="icon animated" data-animation="fadeInDown"><i class="ti-mouse-alt text-tertiary"></i></span>
    <h4>My <strong>Specialities</strong></h4>
    
    <!-- Speciality -->
    <div class="speciality">
        <span class="speciality-icon"><i class="text-muted-2x ti-desktop"></i></span>
        <div class="speciality-content">
            <h5 class="margin-b-0">Website production</h5>
            <p class="speciaity-description">Great, modern website designes.</p>
        </div>
    </div>

    <!-- Speciality -->
    <div class="speciality">
        <span class="speciality-icon"><i class="text-muted-2x ti-layers-alt"></i></span>
        <div class="speciality-content">
            <h5 class="margin-b-0">Front-End Development</h5>
            <p class="speciaity-description">Great, modern website designes.</p>
        </div>
    </div>

    <!-- Speciality -->
    <div class="speciality">
        <span class="speciality-icon"><i class="text-muted-2x ti-mobile"></i></span>
        <div class="speciality-content">
            <h5 class="margin-b-0">Responsive design</h5>
            <p class="speciaity-description">Great, modern website designes.</p>
        </div>
    </div>

</div><!--resume-->