<!-- Section - Testimonials -->
<section id="testimonials" class="section bg-primary dark padding-v-60">

    <!-- Content -->
    <div class="container container-wide">

        <h6 class="margin-b-50">Testimonials</h6>

        <h1 class="margin-b-0"><strong>11</strong> years of experence</h1>
        <h5 class="text-muted margin-b-60">Look at what other's have said about me!</h5>
        
        <div class="row padding-lg">

            <div class="col-lg-3 col-sm-6">
            
                <!-- Testimonial -->
                <div class="testimonial testimonial-dark">
                    <div class="testimonial-content font-alt">
                            <p>James is a fast learner, a sharp study, and a dependable resource.  Upon his entry to my department a year ago, he has exceeded expectations in terms of technical development, peer-to-peer-consulting, and organizational advancement.  Given a task/project, James immediately assesses task sequencing, technical design, and necessary communications.</p>
                            
                            <p>One of his biggest assets is being able to see the “big picture.”  As a person who highly values a technologist who can bridge the gaps between customer and developer, James is an absolute investment in the success of any company.</p>
                            
                    </div>
                    <div class="testimonial-author testimonial-with-photo">
                        <div class="testimonial-photo animated" data-animation="zoomIn"><img class="img-circle" src="assets/img/photos/andre.jpeg" alt="" /></div>
                        <div class="testimonial-author-txt">
                            <span class="name">Andre Hurt</span>
                            <span class="caption text-secondary">CareSource</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">

                <!-- Testimonial -->
                <div class="testimonial testimonial-dark">
                        <div class="testimonial-content font-alt">
                                James is a skilled implementer of IT solutions. He possesses a keen talent for recognizing when technology can be introduced or innovated so as to create exciting improvements to processes and workflow. He enjoys a healthy cross-section of skill and knowledge, along with a passion for learning that enables him quickly get up to speed to produce valuable results. He is also eminently likeable. I heartily recommend his services.
                        </div>
                        <div class="testimonial-author testimonial-with-photo">
                            <div class="testimonial-photo animated" data-animation="zoomIn"><img class="img-circle" src="assets/img/photos/jason.jpeg" alt="" /></div>
                            <div class="testimonial-author-txt">
                                <span class="name">Jasson Massey</span>
                                <span class="caption text-secondary">Cloud Infrastructure Engineer</span>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
               
                <!-- Testimonial -->
                <div class="testimonial testimonial-dark">
                    <div class="testimonial-content font-alt">
                            James and I worked together for four years and during that time he demonstrated excellent communication and interpersonal skills. He is very proactive, detail oriented and always available to help. He keeps up to date on latest technologies and provides ideas/recommendations by looking at the bigger picture. He is a great asset to any team. 
                    </div>
                    <div class="testimonial-author testimonial-with-photo">
                        <div class="testimonial-photo animated" data-animation="zoomIn"><img class="img-circle" src="assets/img/photos/anandhi.jpeg" alt="" /></div>
                        <div class="testimonial-author-txt">
                            <span class="name">Anandhi Sowmyan</span>
                            <span class="caption text-secondary">NextGear Capital</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-sm-6">
              
                <!-- Testimonial -->
                <div class="testimonial testimonial-dark">
                    <div class="testimonial-content font-alt">
                            I can unequivocally state that James is one of the hardest working people that I have ever met. When
                            assigned a task, James always embraced the challenge and attacked problem with gusto. He does
                            whatever it takes to get the job done. James is the only employee that I have ever had to tell to quit
                            working so hard. Even then he constantly worked evenings and weekends to help us meet critical
                            deadlines. As a supervisor, I couldn’t have asked for a more dedicated team member.
                    </div>
                    <div class="testimonial-author testimonial-with-photo">
                        <div class="testimonial-photo animated" data-animation="zoomIn"><img class="img-circle" src="assets/img/photos/regenstrief.jpeg" alt="" /></div>
                        <div class="testimonial-author-txt">
                            <span class="name">John Hook</span>
                            <span class="caption text-secondary">Regenstrief Institute</span>
                        </div>
                    </div>
                </div>

            </div>  
            
                
        </div>

        <!-- <div class="row padding-lg">

            

            

        </div> -->
        
    </div>  
    
</section>
<!-- Section - Testimonials / End -->