<!-- Resume Box / Jobs -->
<div class="resume-box">
  <span class="icon animated" data-animation="fadeInDown"><i class="ti-cup text-tertiary"></i></span>
  <h4><strong>Awards</strong></h4>
  
  <div class="timeline">
      <!-- Single event -->
      <div class="timeline-event te-primary">
          <!-- <span class="event-date">2001</span> -->
          <span class="event-name"><strong>"National Manager of the Year"</strong></span>
          <span class="event-description">Indianapolis, Indiana</span>
      </div>
      <!-- Single event -->
      <div class="timeline-event te-primary">
            <!-- <span class="event-date">1991</span> -->
            <span class="event-name"><strong>"Honorable Discharge"</strong></span>
            <span class="event-description">United States Army</span>
        </div>
      <!-- Single event -->
      <div class="timeline-event te-primary">
          <!-- <span class="event-date">1991</span> -->
          <span class="event-name"><strong>"Non-Commissioned-Office of the Year"</strong></span>
          <span class="event-description">United States Army - Colorado</span>
      </div>
      <!-- Single event -->
      <div class="timeline-event te-primary">
          <!-- <span class="event-date">Jan 2004 - Dec 2006</span> -->
          <span class="event-name"><strong>"Distinguished Honor Graduate"</strong> (2)</span>
          <span class="event-description">United States Army - Virginia</span>
      </div>
      <!-- Single event -->
      <div class="timeline-event te-primary">
            <!-- <span class="event-date">Jan 2004 - Dec 2006</span> -->
            <span class="event-name"><strong>"Commandant's List"</strong></span>
            <span class="event-description">Leadership Development Course</span>
            <span class="event-description">United States Army - Germany</span>
        </div>
  </div><!--timeline-->

</div><!--resume-->