<!-- Section - Resume -->
<section id="resume" class="section padding-v-60">

        <!-- Content -->
        <div class="container-fluid container-wide">
    
            <h6 class="margin-b-50">Resume</h6>
            
            <!--row 1-->
            <div class="row padding-lg">
                
                <!--about-->
                <div class="col-md-4 col-sm-6 col-xs-12">
                   
                    <resume-about></resume-about>
    
                </div>
    
                <!--skills-->
                <div class="col-md-4 col-sm-6 col-xs-12">
                        
                    <resume-skills></resume-skills>
               
                </div>
    
                <div class="col-md-4 col-sm-6 col-xs-12">
    
                    <resume-specialties></resume-specialties>
    
                </div>
    
            </div><!--row 1-->
    
            <!--row 2-->
            <div class="row padding-lg">
                
                <div class="col-md-4 col-sm-6 col-xs-12">
    
                    <resume-background></resume-background>
        
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
    
                    <resume-awards></resume-awards>
        
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
    
                    <resume-education></resume-education>
        
                </div>
    
            </div><!--row 2-->
    
                  
    
        </div>
        
    </section>
    <!-- Section - Resume / End -->